p {
  white-space: pre-wrap;
}

.menus {
  display: flex;
  list-style: none;
}

.menu-items {
  font-size: 14px;
  list-style-type: none;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 0.7rem 1.5rem;
}

.menu-items button:hover {
  background-color: rgba(44, 88, 54, 0.143);
  color: #34623f;
  border-radius: 0.2em;
}

.menu-items a {
  text-align: left;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  display: block;
  font-size: 15px;
  color: inherit;
  text-decoration: none;
}

.menu-items a:hover span:nth-child(1) {
  color: #34623f;
}

.dropdown {
  position: fixed;
  margin: auto;
  left: 0;
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 100%;
  background-color: white;
  border-radius: 4px;
  display: none;
  border-bottom: 1px solid #cecece;
}

.dropdown.show {
  display: flex;
  padding: 1rem;
}

.dropdown.show a {
  padding: 1rem 2rem;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

.mobile-dropdown.show {
  display: flex;
  flex-direction: column;
  list-style: none;
}

/* _hero */
.hero {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* _components */
.pill {
  display: inline-block;
  text-align: center;
  width: fit-content;
  border-radius: 30px;
  padding: 5px 15px;
}

.pill-md {
  display: inline-block;
  text-align: center;
  width: fit-content;
  border-radius: 30px;
  padding: 5px 20px;
}

.button-green {
  display: flex;
  align-items: center;
  width: fit-content;
  align-self: flex-end;
  gap: 0.5rem;
  color: #768948;
  font-weight: 600;
  border: 1px solid #768948;
  border-radius: 4px;
  padding: 8px 16px;
}

.button-green:hover {
  background-color: #768948;
  color: white;
}

/* _program tab */
.tab-head {
  display: flex;
  gap: 10px;
  /* overflow: auto; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
}

.tab-head li {
  font-weight: 600;
  gap: 10px;
  padding: 7px 17px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.tab-active {
  background-color: #607744;
  color: white;
  border: 1px solid #607744 !important;
}

.tab-panels {
  display: flex;
  width: 100%;
}

.panel-selected {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: pink;
  width: 100%;
}

.panel-not-selected {
  display: none;
}

/* _react slick */

.slick-prev {
  left: -45px !important;
}
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #768948;
  color: white;
  font-size: 35px;
  height: 40px;
  width: 40px;
  border-radius: 50%;

  /* position: absolute; */
}

.next-slick-arrow {
  bottom: -50px;
  right: 50%;
}

.prev-slick-arrow {
  bottom: -50px;
  left: 50%;
}

.slick-dots {
  bottom: 10px !important;
}
.slick-dots li button:before {
  font-size: 10px;
}
.slick-dots li.slick-active button:before {
  color: #b39c4d;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.arrow-button-left,
.arrow-button-right {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
}

.arrow-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
  font-size: 20px;
  background: #768948;
  border: 1px solid #768948;
}

/* _react player */
.player-wrapper {
  width: auto;
  height: auto;
}
.react-player {
  padding-top: 56.25%;
  position: relative;
}
